.title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.userIntro{
    border: 5px solid red;

}

.userInfo{
    padding: 10px;
    display: block;
}
.infoTitle{
    display: block;
}