.general_block {
    padding: 10px;
    border: solid 1px;
}

.heading {
    padding: 10px;
    border-bottom: 2px solid;
}

.block_dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogs {
}


